@font-face {
  font-family: Segoe WP;
  src: url("assets/Segoe_WP.ttf");
}

*{
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
}

.header {
  background-image: url("assets/fone.svg");
  height: 566px;
}

.banner {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #ffffff;
  display: flex;
  margin-top: 30px;
  margin-left: 142px;
}

.logo div { 
  position: relative; 
}

.back { 
  left: -82px; 
}

.logo h1 {
  margin-top: 30px;
  font-style: Segoe WP;
  margin-left: -70px;
}

.navbar {
  width: 453px;
  margin: 71px 140px 0 0;
}

.navbar div {
  position: relative;
  height: 41px;
}

.first-menu {
  z-index: 3;
}

.second-menu {
  background-color: #f5c505;
  opacity: 0.27;
  left: -4px;
  top: -46px;
  z-index: 2;
}

.third-menu {
  background: #f5c505;
  opacity: 0.27;
  left: -8px;
  top: -90px;
  z-index: 1;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  background: #9b7d08;
}

.navbar ul li a {
  display: flex;
  height: 41px;
  width: 150.5px;
  /* border-left: 1px solid #9b7d08; */
  text-decoration: none;
  font-size: 17px;
  color: #9b7d08;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
}

.navbar ul li a img {
  margin-right: 10px;
}

.navbar ul li a:hover {
  background-color: rgb(149, 207, 0);
  background-image: linear-gradient(0deg,  rgb(149, 207, 0) 0%,  rgb(149, 207, 0) 100%);
  color: white;
}

video{
  width: 549px;
  height: 327px;
}


.icon_area {
  width: 1020px;
  margin: 0 auto;
}

.icon_area ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  background: white;
}

.icon_area ul li a {
  display: flex;
  height: 212px;
  width: 340px;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  text-decoration: none;
  font-size: 17px;
  color: black;
  align-items: center;
  justify-content: center;
}

.icon_area ul li:first-child a {
  border-right: none;
}

.icon_area ul li:last-child a {
  border-left: none;
}











.first {
  height: 212px;
  /* background: red; */
}

.second {
  height: 509px;
  background: blue;
}

.third {
  height: 499px;
  background: green;
}

.footer {
  height: 64px;
  background: orangered;
}















input[type=range] {
  -webkit-appearance: none;
  width: 896px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 896px;
  height: 15px;
  cursor: pointer;
  animation: 0.2s;
  background: #fae591;
  border-radius: 50px;
}
input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 197px;
  border-radius: 50px;
  background: #ec9e03;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
	width: 896px;
  height: 15px;
  cursor: pointer;
  animation: 0.2s;
  background: #fae591;
  border-radius: 50px;
}
input[type=range]::-moz-range-thumb {
	height: 15px;
  width: 197px;
  border-radius: 50px;
  background: #ec9e03;
  cursor: pointer;
  -moz-appearance: none;
}

input[type=range]::-ms-track {
	width: 896px;
  height: 15px;
  cursor: pointer;
  animation: 0.2s;
  background: #fae591;
  border-radius: 50px;
}
input[type=range]::-ms-thumb {
  height: 15px;
  width: 197px;
  border-radius: 50px;
  background: #ec9e03;
  cursor: pointer;
  -ms-appearance: none;
}

