@font-face {
  font-family: SegoeWP;
  src: url('./assets/fonts/SegoeWP-Light.woff2');
}

@font-face {
  font-family: SegoeWP-Light;
  src: url('./assets/fonts/SegoeWP-Light.woff2');
}

@font-face {
  font-family: Segoe UI;
  src: url('./assets/fonts/SegoeUI.woff2');
}

@font-face {
  font-family: LucidaSans-Italic;
  src: url('./assets/fonts/LucidaSans-Italic.woff2');
}

@font-face {
  font-family: ASAP;
  src: url('./assets/fonts/Asap-Regular.woff2');
}

@font-face {
  font-family: Open-Sans;
  src: url('./assets/fonts/open-sans/opensans.woff2');
}

@font-face {
  font-family: PT Sans;
  src: url('./assets/fonts/ptsans/PTSans-Regular.woff2');
}

@font-face {
  font-family: PT Sans Narrow;
  src: url('./assets/fonts/ptsans/PTSans-Narrow.woff2');
}

*{
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
}

.header {
  background-image: url("assets/fone.svg");
  height: 566px;
}

.banner {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #ffffff;
  display: flex;
  margin-top: 30px;
  margin-left: 142px;
}

.logo div { 
  position: relative; 
}

.logo .back { 
  left: -82px; 
}

.logo p {
  margin-top: 23px;
  font-family: LucidaSans-Italic, sans-serif;
  margin-left: -72px;
  font-size: 41px;
}

.navbar {
  width: 453px;
  margin: 71px 140px 0 0;
}

.navbar div {
  position: relative;
  height: 41px;
}

.first-menu {
  z-index: 3;
}

.second-menu {
  background-color: #f5c505;
  opacity: 0.27;
  left: -4px;
  top: -46px;
  z-index: 2;
}

.third-menu {
  background: #f5c505;
  opacity: 0.27;
  left: -8px;
  top: -90px;
  z-index: 1;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  background: #9b7d08;
}

.navbar ul li a {
  display: flex;
  height: 41px;
  width: 150.5px;
  /* border-left: 1px solid #9b7d08; */
  text-decoration: none;
  font-size: 17px;
  color: #9b7d08;
  font-family: SegoeWP, sans-serif;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
}

.navbar ul li a img {
  margin-right: 10px;
}

.navbar ul li a:hover {
  background-image: linear-gradient(0deg,  rgb(149, 207, 0) 0%,  rgb(149, 207, 0) 100%);
  color: white;
}

.player {
  width: 1020px;
  margin: 0 auto; 
  display: flex;
}

.anim {
  width: 549px;
  margin-left: 9px;
}

.anim div {
  position: relative;
}

.anim .arrow3 {
  top: -250px;
  left: 269px;
  width: 19px;
  height: 34px;
}

.anim .play {
  top: -202px;
  left: 241px;
  width: 67px;
  height: 67px;
}

.anim .arrow {
  top: -149px;
  left: 39px;
  width: 10px;
  height: 17px;
}

.anim .square {
  top: -171px;
  left: 29px;
  width: 27px;
  height: 27px;
}

.anim .volume {
  top: -191px;
  left: 514px;
  width: 15px;
  height: 15px;
}

.anim .rr {
  top: -248px;
  left: -133px;
  width: 404px;
  height: 12px;
}

.anim input[type=range] {
  -webkit-appearance: none;
  width: 404px;
  /* opacity: 0.28; */
}

.anim input[type=range]:focus {
  outline: none;
}

.anim input[type=range]::-webkit-slider-runnable-track {
  width: 404px;
  height: 12px;
  cursor: initial;
  animation: 0.2s;
  background: #5f4e0a;
  border-radius: 5px;
}

.anim input[type=range]::-webkit-slider-thumb {
  height: 12px;
  width: 179px;
  border-radius: 5px;
  background: #f5c507;
  cursor: initial;
  -webkit-appearance: none;
}

.anim input[type=range]::-moz-range-track {
	width: 404px;
  height: 12px;
  cursor: initial;
  animation: 0.2s;
  background: #5f4e0a;
  border-radius: 5px;
}

.anim input[type=range]::-moz-range-thumb {
	height: 12px;
  width: 179px;
  border-radius: 5px;
  background: #f5c507;
  cursor: initial;
  -moz-appearance: none;
}

.anim input[type=range]::-ms-track {
	width: 404px;
  height: 12px;
  cursor: initial;
  animation: 0.2s;
  background: #5f4e0a;
  border-radius: 5px;
}

.anim input[type=range]::-ms-thumb {
  height: 12px;
  width: 179px;
  border-radius: 5px;
  background: #f5c507;
  cursor: initial;
  -ms-appearance: none;
}

.video {
  height: 327px; 
  width: 549px;
  object-fit: cover;
  margin-top: -26px;
}

.the {
  height: 121px;
  margin-left: 51px;
  padding-top: 43px;
  font-size: 63px;
  letter-spacing: 1px;
  color: #f5c506;
  font-family: ASAP;
  font-weight: 400;
  text-align: center;
}

.the .min {
  color: white;
}


.first {
  height: 212px;
  background: url(assets/section1.svg) repeat; 
}

.icon_area {
  width: 1020px;
  margin: 0 auto;
}

.icon_area ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.icon_area ul li a {
  display: flex;
  height: 212px;
  width: 340px;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  text-decoration: none;
  color: black;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 27px;
  font-family: Segoe UI;
  text-align: center;
}

.icon_area ul li a:hover {
  color: white;
  background:rgb(149, 207, 0);
}

.icon_area ul li:first-child a {
  border-right: none;
}

.icon_area ul li:last-child a {
  border-left: none;
}

.icon_area ul li:first-child a img {
  margin-bottom: 18px;
  margin-top: 8px;
}

.icon_area ul li:nth-child(2) a {
  justify-content: start;
}

.icon_area ul li:nth-child(2) a img {
  margin-bottom: 12px;
  margin-top: 31px;
}

.icon_area ul li:last-child a img {
  margin-bottom: 17px;
}


.second {
  height: 509px;
  background: url(assets/section2.svg);
}

.lo p {
  font-size: 37px;
  color: #ffffff;
  font-family: PT Sans;
  font-weight: 400;
  margin-left: 147px;
  padding-top: 32px;
  margin-bottom: 30px;
}

.row {
  display: flex;
  margin-left: 139px;
}

.note {
  background: #ec9e03;
  width: 341px;
  height: 233px;
}

.note p {
  font-size: 29px;
  color: #ffffff;
  font-family: SegoeWP-Light;
  margin: 15px 38px 34px 31px;
}

.note .cross {
  position: relative;
  left: 315px;
  top: -33px;
  width: 11px;
  height: 11px;
}

.twitter .cross {
  position: relative;
  width: 11px;
  height: 11px;
  right: -220px;
  top: 97px;
}


.monkey {
  height: 232px; 
  width: 315px;
  object-fit: cover;
  margin-right: 34px;
}

.mult {
  height: 232px;
}

.mult .play {
  position: relative;
  left: 125px;
  top: -143px;
}

.mult .arrow {
  position: relative;
  left: 150px;
  top: -194px;
}

.twitter {
  width: 329px;
  height: 233px;
  background: #ec9e03;
}

.twitter img {
  margin: 59px 83px 41px 83px;
}

.twitter p {
  margin-top: -219px;
  margin-left: 286px;
  font-size: 25px;
  color: #ffffff;
  font-family: SegoeWP;
}

.calendar {
  margin-left: 139px;
  width: 113px;
  /* height: 86px; */
  background: #ddb101;
  margin-top: -3px;
}

.calendar p:first-child {
  text-align: center;
  font-size: 51px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: bold;
  font-family: Segoe UI;
  margin-top: -5px;
}

.calendar p:last-child {
  font-size: 21px;
  color: #b26529;
  font-family: Segoe UI;
  text-align: center;
  margin-top: -10px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 896px;
  margin: 43px 191px 22px 213px;
  border-radius: 50px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 896px;
  height: 15px;
  cursor: pointer;
  animation: 0.2s;
  background: #fae591;
  border-radius: 50px;
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 197px;
  border-radius: 50px;
  background: #ec9e03;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
	width: 896px;
  height: 15px;
  cursor: pointer;
  animation: 0.2s;
  background: #fae591;
  border-radius: 50px;
}

input[type=range]::-moz-range-thumb {
	height: 15px;
  width: 197px;
  border-radius: 50px;
  background: #ec9e03;
  cursor: pointer;
  -moz-appearance: none;
}

input[type=range]::-ms-track {
	width: 896px;
  height: 15px;
  cursor: pointer;
  animation: 0.2s;
  background: #fae591;
  border-radius: 50px;
}

input[type=range]::-ms-thumb {
  height: 15px;
  width: 197px;
  border-radius: 50px;
  background: #ec9e03;
  cursor: pointer;
  -ms-appearance: none;
}



.third {
  height: 499px;
  background: url("assets/section3.svg");
}

.dod {
  width: 1020px;
  margin: 0 auto;
}

.yellow-head {
  font-size: 43px;
  color: #f5c506;
  font-family: PT Sans;
  font-weight: 400;
  text-align: center;
  padding-top: 35px;
  margin-bottom: -13px;
}

.gadgets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gadgets div {
  position: relative;
  margin-top: 14px;
}

.free {
  z-index: 2;
  left: -2px;
}

.free p {
  font-size: 19px;
  color: #ffffff;
  font-family: PT Sans Narrow;
  font-weight: 700;
  position: relative;
  top: -72px;
  right: -8px;
}

.pc {
  right: 113px;
  top: 44px;
  z-index: 1;
}

.tablet {
  top: 86px;
  right: 104px;
}

.phone {
  top: 196px;
  right: 93px;
}

.gadgets .prop {
  position: relative;
  top: 87px;
  right: 8px;
}

.prop p {
  font-size: 22px;
  color: #a9a9a7;
  font-family: Open-Sans;
  font-weight: 400;
  margin-bottom: 17px;
}

.prop p.big {
  margin-bottom: 8px;
}

p img {
  width: 14px;
  height: 14px;
  position: relative;
  top: -2px;
  right: 20px;
}






.footer {
  height: 64px;
  background: #4c4c4c;
}

.small-logo {
  display: flex;
  margin-top: 0px;
  margin-left: 141px;
}

.small-logo p {
  font-size: 29px;
  color: #ffffff;
  font-family: LucidaSans-Italic, sans-serif;
  text-align: center;
}

.small-logo img {
  width: 51px;
  height: 51px;
}

.small-logo div { 
  position: relative; 
}

.small-logo .back { 
  left: -51px; 
  top: 7px;
}

.small-logo .front {  
  top: 7px;
}

.small-logo .ya {  
  top: -7px;
  left: 26px;
}